---
export type Props = {
  title: string
  description?: string
  keywords?: string
}

const { title, description, keywords } = Astro.props
---

<html lang="en">
  <head>
    <title>{title}</title>

    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/icon/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png" />
    <link rel="mask-icon" color="#5465e4" href="/icon/safari-pinned-tab.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <slot />
  </body>
</html>
